<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="desafio1_submit" method="post">
        <label for="numero1">digite o primeiro numero</label><br>
        <input type="number" name="numero1" id="numero1" placeholder="digite um numero"><br>
        <label for="numero2">digite o segundo numero</label><br>
        <input type="number" name="numero2" id="numero2" placeholder="digite um numero"><br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>