<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Topico 03</h1>
    <p>python BackEnd - logica Condicional</p>
    <ol>
        <li><a href="/desafio1.html">desafio1</a></li>
        <li><a href="/desafio1desafio2.html">desafio2</a></li>
        <li><a href="/desafio3.html">desafio3</a></li>
        <li><a href="/desafio4.html">desafio4</a></li>
        <li><a href="/desafio5.html">desafio5</a></li>
        <li><a href="/desafio6.html">desafio6</a></li>
        <li><a href="/desafio7.html">desafio7</a></li>
       
    </ol>
</body>
</html>