<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercicio 2</h1>
    <form action="acao" method="post">
        <label for="numero">digite um numero</label>
        <input type="number" name="number1" id="number1">
        <label for="number">digite outro numero</label>
        <input type="number" name="number2" id="number2">
        <input type="submit" value="somar">
    </form>
</body>
</html>