<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>passando paramentro para o python</h1>
    <form action="/rotaCalc_submit" method="post">
    <label for="nome">digite um numero</label>
    <br>
    <input type="text" name="n1" id="n1" required>
    <label for="nome">digite outro numero</label>
    <br>
    <input type="text" name="n2" id="n2" required>
    <br>
    <input type="submit" value="enviar">
</form>
</body>
</html>